.btn__go__back {
  position: relative;
  left: 10px;
}
.btn__go__back .material-symbols-outlined {
  font-size: 30px;
}

.restaurant__photo img {
  width: 100%;
  max-height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 376px) {
  .restaurant__photo img {
    max-height: 420px;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
}

.menu__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding: 30px 15px 40px 15px;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}
@media (min-width: 376px) {
  .menu__container {
    margin: 0px 10%;
    margin-bottom: -60px;
  }
}

.page__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page__title h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin-left: 4px;
}
.page__title .restaurant__like {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.page__title .restaurant__like:hover .fa-solid {
  opacity: 1;
  transition-duration: 500ms;
}
.page__title .restaurant__like:hover .fa-regular {
  opacity: 0;
  transition-duration: 500ms;
}
.page__title .restaurant__like i {
  position: absolute;
  font-size: 26px;
}
.page__title .restaurant__like .fa-solid {
  font-size: 26px;
  animation: 500ms ease-in;
  opacity: 0;
  transition-duration: 500ms;
}
.page__title .restaurant__like .fa-solid::before {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
}
@media (min-width: 376px) {
  .page__title {
    justify-content: center;
    gap: 25px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding: 0px;
}
.menu__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  list-style: none;
}
.menu__subtitle__border {
  border-bottom: solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
  margin-top: 30px;
}
.menu__btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media (min-width: 376px) {
  .menu {
    padding: 0px 10%;
  }
}

.card__menu {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  gap: 25px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  animation: Apparition 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
.card__menu__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 50px);
  transition: 500ms;
}
.card__menu__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}
.card__menu__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
}
.card__menu__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 15px;
  font-weight: 700;
}
.card__menu__slide {
  height: 100%;
  width: 70px;
  background-color: #99e2d0;
  position: absolute;
  right: -70px;
  top: 0;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__menu__check {
  background-color: white;
  transition: 500ms;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__menu__check .icon {
  color: #99e2d0;
}

.card__menu:hover > .card__menu__content {
  width: calc(100% - 120px);
}

.card__menu:hover > .card__menu__slide {
  right: 0px;
}

@keyframes Apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.btn__command {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 500;
  transition: 500ms ease;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.btn__command:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=menu.css.map */