@import "./mixin.scss";

.btn__go__back {
    position: relative;
    left: 10px;
    .material-symbols-outlined {
        font-size: 30px;
    }
}

.restaurant__photo {
    img {
        width: 100%;
        height: 275px;
        @media (min-width: 376px) {
            height: 390px;
        }
    }
}

.menu__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $background-color_1;
    border-radius: 40px 40px 0px 0px;
    padding: 30px 15px 40px 15px;
    position: relative;
    top: -60px;
    margin-bottom: -60px;
    @media (min-width: 376px) {
        margin: 0px 10%;
        margin-bottom: -60px;
    }
}

.page__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
        font-family: $font-family_2;
        font-size: 28px;
        font-weight: 400;
        margin-left: 4px;
    }
    .restaurant__like {
        @include like;
    }
    @media (min-width: 376px) {
        justify-content: center;
        gap: 25px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding: 0px;
    &__subtitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        list-style: none;
    }
    &__subtitle__border {
        border-bottom: solid $color_3;
        padding-bottom: 5px;
        width: 40px;
        margin-top: 30px;
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    @media (min-width: 376px) {
        padding: 0px 10%;
    }
}

.card__menu {
    display: flex;
    flex-direction: row;
    background-color: $color_4;
    border-radius: 15px;
    padding: 15px;
    gap: 25px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    @include card-shadow();
    animation: Apparition 0.6s;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow: hidden;
        white-space: nowrap;
        width: calc(100% - 50px);
        transition: 500ms;
    }
    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
    }
    &__subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 300;
    }
    &__price {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 15px;
        font-weight: 700;
    }
    &__slide {
        height: 100%;
        width: 70px;
        background-color: $color_3;
        position: absolute;
        right: -70px;
        top: 0;
        transition: 500ms;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__check {
        background-color: $color_4;
        transition: 500ms;
        border-radius: 100%;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            color: $color_3;
        }
    }
}

.card__menu:hover > .card__menu__content {
    width: calc(100% - 120px);
}

.card__menu:hover > .card__menu__slide {
    right: 0px;
}

@keyframes Apparition {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.delay-0 {
    animation-delay: 0s;
}

.delay-1 {
    animation-delay: 0.1s;
}

.delay-2 {
    animation-delay: 0.2s;
}

.delay-3 {
    animation-delay: 0.3s;
}

.delay-4 {
    animation-delay: 0.4s;
}

.delay-5 {
    animation-delay: 0.5s;
}

.delay-6 {
    animation-delay: 0.6s;
}

.delay-7 {
    animation-delay: 0.7s;
}

.delay-8 {
    animation-delay: 0.8s;
}

.delay-9 {
    animation-delay: 0.9s;
}

.btn__command {
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn__background;
    width: 186px;
    height: 50px;
    border-radius: 25px;
    border: none;
    &:hover {
        @include btn__background--hover;
        @include card-shadow;
        cursor: pointer;
    }
}
