* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

body {
  width: 100%;
  max-width: 375px;
  padding: 0px;
  box-sizing: border-box;
}
@media (min-width: 376px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.loader {
  background: white;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 1s ease 1s forwards;
}
.loader__circle {
  display: block;
  position: relative;
  top: 50%;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356dc;
  animation: spin 2s linear infinite;
}
.loader__circle::before, .loader__circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}
.loader__circle::before {
  inset: 10px;
  border-top-color: #9356dc;
  animation: spin 3s linear infinite;
}
.loader__circle::after {
  inset: 25px;
  border-top-color: #9356dc;
  animation: spin 2s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}
.header__container .header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: auto;
  gap: 17px;
  background: var(--Grey-2, #eaeaea);
  font-weight: 500;
}
.header__container .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.header__container .header__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 210px;
  height: 36px;
  margin: auto;
}

.site__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  text-align: center;
  gap: 30px;
  padding: 30px 20px 40px 20px;
}
.site__description p {
  color: var(--Grey, #353535);
  font-size: 18px;
  font-weight: 300;
}
.site__description__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 500;
}

.site__description__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  margin: 30px 0px 30px 0px;
  gap: 20px;
  width: auto;
  padding: 0px 20px;
}
@media (min-width: 376px) {
  .fonctionnement {
    margin: 50px 0px 50px 0px;
    padding: 0% 10%;
  }
}

.fonctionnement__title {
  margin: 0px 0px 0px 3px;
  font-size: 24px;
}

.fonctionnement__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 100%;
}
@media (min-width: 376px) {
  .fonctionnement__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
  }
}

.fonctionnement__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__card i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #9356dc;
  margin: -10px;
  color: white;
}
.fonctionnement__card .material-symbols-outlined {
  color: var(--grey-tint-4, #7e7e7e);
}
.fonctionnement__card .material-symbols-outlined--purple {
  color: #9356dc;
}
@media (min-width: 376px) {
  .fonctionnement__card {
    flex: 1;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 0px 0px 0px;
  padding: 50px 20px;
  background: #f6f6f6;
  gap: 20px;
}
@media (min-width: 376px) {
  .restaurants {
    padding: 30px 10%;
  }
}

.restaurants__title {
  margin: 0px 0px 0px 3px;
  font-size: 24px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 18px;
}
.restaurants__cards a {
  display: flex;
  flex: 1;
  width: 100%;
}
@media (min-width: 376px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  align-items: flex-start;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 0px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.card .restaurant__image {
  width: 100%;
  height: 231px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card__title {
  font-size: 18px;
  font-weight: 700;
}
.card .card__content {
  width: 100%;
  height: auto;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 5px;
}
.card .card__like {
  position: absolute;
  bottom: 40px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.card .card__like:hover .fa-solid {
  opacity: 1;
  transition-duration: 100ms;
}
.card .card__like:hover .fa-regular {
  opacity: 0;
}
.card .card__like i {
  position: absolute;
  font-size: 26px;
}
.card .card__like .fa-solid {
  font-size: 26px;
  animation: 100ms ease-in;
  opacity: 0;
  transition-duration: 100ms;
}
.card .card__like .fa-solid::before {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
}
.card .card__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.card .card__nouveaute {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  color: var(--Green-Font, #008766);
  font-size: 14px;
  border-radius: 2px;
  background: #99e2d0;
  position: absolute;
  top: 13px;
  right: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #353535;
  padding: 22px 25px;
  gap: 16px;
  color: white;
}
.footer__container .footer__title {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 376px) {
  .footer__container {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 35px;
    padding: 30px 25px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  gap: 7px;
  font-weight: 500;
}
.footer__list a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  gap: 10px;
}
.footer__list a .material-symbols-outlined {
  font-size: 16px;
}
@media (min-width: 376px) {
  .footer__list {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */